python-dotenv==1.0.1
google-api-python-client==2.140.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
moviepy==1.0.3
requests==2.32.3
yt-dlp==2024.8.6
gunicorn==22.0.0
flask==3.0.3
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
ffmpeg-python==0.2.0
pytube==15.0.0
youtube-transcript-api==0.6.2
selenium==4.23.1
webdriver-manager==4.0.1
